{% extends "base.html" %} {% block title %}Recipe{% endblock %}

{% block content %}

<h2> {{ names.recipe_name }}</h2>
<br>
<h4> Ingredients:</h4>
{% for ing in ings %}
    {{ ing.amount + " " + ing.unit + " " + ing.ingredients }}
    <br>
{% endfor %}
<br>
<h4>Steps:</h4>
<p> {{ names.steps }}</p>
<br>
<p>
{% for note in notes %}
  {{ note.note }}
  <br>
{% endfor %}
</p>
<br>

<div id="noteField">
  <form method="POST">
  <textarea class="form-control" id=customNote name="customNote" rows="3" placeholder="Enter custom notes..."></textarea>
  <br>
  <button type="submit" class="btn btn-primary" id="addNote" href="#">Add Note</button>
  </form>

</div>

{% endblock %}